:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --font-size: 16px;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}


/* #region Base */
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--slate);
    background-color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

a {
    text-decoration: none;
    font-size: inherit;
    color: var(--navy-blue);
    font-size: 12px;
    letter-spacing: 0.04em;
}

ul,
ol {
    font-size: inherit;
    font-family: inherit;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

/* #endregion */


/* #region Common */
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* #endregion */


/* #region navigation */
.page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {

    .header-container {
        flex-direction: row;
        gap: 40px;
    }
}

.menu,
.address-block {
    display: none;
}

@media screen and (min-width: 768px) {

    .navigation {
        font-weight: 500;
        color: var(--navy-blue);
        font-size: var(--font-size);
        letter-spacing: 0.02em;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        row-gap: 12px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu-link {
        display: block;
        font-size: var(--font-size);
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link.active {
        position: relative;
        color: var(--ocean);
    }

    .menu-link.active::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--ocean);
    }

    .address-block {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .address-link {
        display: block;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active,
    .address-link:hover,
    .address-link:focus,
    .address-link:active {
        color: var(--ocean);
    }

}

@media screen and (min-width: 1158px) { 
    .address-list {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: flex-end;
        }
    
    .address-link {
        padding: 24px 0;
        font-size: var(--font-size);
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


.burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger-btn .icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

/* #endregion */


/* #region Logo */
.logo-link {
    display: block;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .logo-link {
        padding: 24px 0;
        margin-right: 120px
    }
}

@media screen and (min-width: 1158px) {
    .logo-link {
        margin-right: 76px
    }
}

span.logo-right-part {
    color: var(--navy-blue);
}

/* #endregion */


/* #region Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}


.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn .icon {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
    border: none;
}
.modal-close-btn:hover .icon,
.modal-close-btn:focus .icon {
    fill: var(--white);
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:active,
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.active {
    color: var(--ocean);
}


.mobile-menu-address-block {
    margin-bottom: 48px;
}
.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate) ;
}
.mobile-menu-address-link:active,
.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus,
.mobile-menu-address-link.active {
    color: var(--iris);
}


.mobile-menu-social-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.mobile-menu-social-link {
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: var(--green);
}
.mobile-menu-social-link .icon {
    fill: var(--cloud);
}
/* #endregion */


/* #region  Hero*/
.hero {
    color: var(--white);
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-image:
            linear-gradient(var(--grey), var(--grey)), url("../images/bg-mobile-people-office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(var(--grey), var(--grey)), url("../images/bg-mobile-people-office@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(var(--grey), var(--grey)), url("../images/bg-tablet-people-office.jpg");
        padding: 112px 0;
        max-width: 768px;
    }
    @media (min-resolution: 192dpi) {
        .hero {
            background-image:
                linear-gradient(var(--grey), var(--grey)), url("../images/bg-tablet-people-office@2x.jpg");
        }
    }
}


@media screen and (min-width: 1158px) {
    .hero{
        background-image:
            linear-gradient(var(--grey), var(--grey)), url("../images/bg-people-office.jpg");
        padding: 188px 0;
        max-width: 1440px;
    }
    @media (min-resolution: 192dpi) {
        .hero {
            background-image:
                linear-gradient(var(--grey), var(--grey)), url("../images/bg-people-office@2x.jpg");
        }
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    max-width: 216px;
    margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    margin: 0 auto;
    font-weight: 400;
    background-color: var(--iris);
    color: var(--white);
    letter-spacing: 0.04em;
    text-align: center;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}

/* #endregion */


/* #region  Our Features*/
.features {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }
}

.features-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}
.feature-item {
    flex-basis: 100%;
}
@media screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .feature-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .features-list {
        gap: 24px;
    }
    .feature-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }
}

.feature-item-title {
    color: var(--navy-blue);
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .feature-item-title {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .feature-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.feature-item-description {
    color: var(--slate);
    font-weight: 500;
}
@media screen and (min-width: 1158px) {
    .feature-item-description {
        color: var(--slate);
        font-weight: 400;
    }
}

.feature-icon {
    display: none;
}
@media screen and (min-width: 1158px) {
    .feature-icon {
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        max-width: 264px;
        height: 112px;
        background: var(--cloud);
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* #endregion */


/* #region Our Team*/
.team {
    background-color: var(--cloud);
    color: var(--navy-blue);
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}

.team-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .team-list {
        row-gap: 64px;
    }
}

.team-member {
    background-color: var(--white);
    flex-basis: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-wrap {
    background-color: var(--white);
    padding: 32px 16px;
}

.team-member-name {
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.team-member-role {
    color: var(--slate);
    text-align: center;
    margin-bottom: 8px;
}

.team-member-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.team-member-social-link {
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-social-link:hover,
.team-member-social-link:focus {
    background-color: var(--ocean);
}

.team-member-social-link .icon {
    fill: var(--cloud);
}
/* #endregion */


/* #region  Our Portfolio*/
.portfolio {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }
}

.portfolio-title {
    text-align: center;
    color: var(--navy-blue);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 72px 24px;;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-item {
    flex-basis: 288px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .portfolio-item {
        flex-basis: 356px;
    }
}
@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }
    .portfolio-item {
        flex-basis: 360px;
        box-shadow: none;
    }
    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.portfolio-item-image-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item-wrap {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item-title {
    color: var(--navy-blue);
    margin-bottom: 8px
}

/* img overlay */
.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    color: var(--cloud);
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
}
/* #endregion */

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {}